.item img{
    width: 70px;
    height: 70px;
    margin: 15px
}

.item{
    width: 100px;
    float: left;
    border: 1px solid blue;
    border-radius: 8px;
    margin: 5px
}

.container{
    width: 896px;
    margin: auto
}
/* 
đây là comment
 */